:root {
  --main-color:#ddd;
  --second-color:#5f5f5f;
  --accent:#f44336  ;
  
}
.app{
  background-color: var(--main-color);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.progressBars {
  background-color: var(--main-color);
  display: flex;
  flex: 7;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative; 
  height: 100vh;
}
.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.lift {
  width: 8vw;
  background-color: var(--accent);
  border-radius: 10px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  transition: height 1s ease;
}
.fullLift {
  width: 8vw;
  background-color: var(--second-color);
  border-radius: 10px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  position: relative;
  display: flex;
  flex-direction: column-reverse;
  justify-content: flex-start;
  align-items: center;
}
.highlight {
  color:#ddd !important;
  font-weight: 900;
  text-decoration: underline;
  background-color: var(--accent) !important;
  border-radius: 50%;
}
.button {
  min-width:150px;
  position: relative;
  padding: 0.5em 0.5em;
  color: var(--second-color);
  font-size:1rem;
  font-weight: 700;
  text-transform: uppercase;
  background-color: var(--main-color);
  border: 0.25em solid var(--second-color);
  border-radius: 1em; 
  outline: none;
  cursor: pointer;
  transition: all 0.5s;
  margin: 1.5rem;
  
}
.button:hover {
  border: 0.25em solid var(--accent);
  border-radius: 1em;
  background-color: var(--main-color);
  color: var(--accent);
}

.lister {
  min-width: 150px;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  padding: 5px;
}
.listerContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between; 
  align-items: flex-end;
  width: 75%;
  min-height: 200px;
  

}
.buttonContainer {
  min-width: 35vw;
  height:50px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  position: relative;
  top: 25px;

}
.statusText {
  font-size: 2rem;
  color: var(--accent);
  font-weight: bold;
  
  text-transform: capitalize;
}
.title{
  font-size: 3rem;
  margin: 0;
}
p {
  font-size: 18px;
  color: var(--accent);
}
input {
  width: 95%;
  padding: 10px;
  border: 1px solid var(--second-color);
  border-radius: 5px;
  font-size: 16px;
  margin-bottom: 20px;
}

.inputContainer {
  width:200px;
  margin-top: 20px;
}
::-webkit-scrollbar {
  width: 10px;
  
}
::-webkit-scrollbar-track {
  background: var(--main-color) ;
}
::-webkit-scrollbar-thumb {
  background: var(--accent); 
}
.detailButton {
  margin: 5px;
}
.side-menu {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 400px;
  
  overflow-x: hidden;   
  background-color: var(--second-color);   
  transition: 0.5s;     
}
.calendarContainer {
  background-color: var(--main-color);
  display: flex; 
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative; 
}














