:root {
  --main-color:#ddd;
  --second-color:#5f5f5f;
  --accent:#f44336  ;
  
}
.app{
  background-color: var(--main-color);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.progressBars {
  background-color: var(--main-color);
  display: flex;
  flex: 0.7;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative; 
  height: 100vh;
}
.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 100%;
}
.lift {
  min-width: 40px;
  width:70px;
  background-color: var(--accent);
  border-radius: 10px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  transition: height 1s ease;
}
.fullLift {
  min-width: 40px;
  width:70px;
  background-color: var(--second-color);
  border-radius: 10px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  position: relative;
  display: flex;
  flex-direction: column-reverse;
  justify-content: flex-start;
  align-items: center;
}
.highlight {
  color:#ddd !important;
  font-weight: 900;
  text-decoration: underline;
  background-color: var(--accent) !important;
  border-radius: 50%;
}
.button {
  padding: 0.5em 0.5em !important;
  margin: 0.5rem !important;  
}


.lister {
  min-width: 40px;
  width: 100px;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  padding: 5px;
}
.listerContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between; 
  align-items: flex-end;
  width: 75%;
  min-height: 200px;
  

}
.buttonContainer {
  min-width: 35vw;
  height:50px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  position: relative;
  top: 25px;

}
.statusText {
  font-size: 1.5rem;
  color: var(--accent);
  font-weight: bold;
  
  text-transform: capitalize;
}
.title{
  font-size: 3rem;
  margin: 0;
}
p {
  font-size: 18px;
  color: var(--accent);
}
input {
  width: 95%;
  padding: 10px;
  border: 1px solid var(--second-color);
  border-radius: 5px;
  font-size: 16px;
  margin-bottom: 20px;
}

.inputContainer {
  width:200px;
  margin-top: 20px;
}
::-webkit-scrollbar {
  width: 10px;
  
}
::-webkit-scrollbar-track {
  background: var(--main-color) ;
}
::-webkit-scrollbar-thumb {
  background: var(--accent); 
}
.detailButton {
  margin: 5px;
}
.side-menu {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 400px;
  margin-top: 20px;
  overflow-x: hidden;   
  background-color: var(--main-color);
  transition: 0.5s;     
}
.calendarContainer {
  background-color: var(--main-color);
  display: flex; 
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative; 
}
.inputField {
  min-width: 100px;
  width: 200px;
}
.inputComponent {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin:5px;
  
}
.listItem {
  border: 2px solid var(--second-color);

  border-radius: 15px;
  margin: 10px 0px;
}
.listItem:hover{
  border-color: var(--accent);
}
.listItemButton {
  align-self: flex-start;
  width: 250px;
  font-weight: bold;
}
.listItemText {
  color: var(--second-color);
  font-weight: bolder;
  font-size: 1.2em;
}















