:root {
  --main-color:rgb(25, 25, 25);
  --button-main:rgb(110, 237,237);
  --button-shadow:rgba(65, 243, 243, 0.7);
  --button-second-color:rgb(44,157,157);
  --fullLift:rgb(48, 48, 48);
}
.app{
  background-color: var(--main-color);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.container {
  background-color: var(--main-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative; 
  width: 100%;
  height: 100vh;
}
.lift {
  width: 8vw;
  background-color: var(--button-second-color);
  
  border-radius: 1rem;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;

}
.fullLift {
    width: 8vw;
    background-color: var(--fullLift);  
    border-radius: 1em;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-start;
    align-items: center;
    box-shadow: 0 0 0.5em 0.1em var(--button-main),
      0 0 1em 0.25em var(--button-shadow);
    
}
.button {
  min-width:150px;
  position: relative;
  padding: 1em 1em;
  color: var(--button-main);
  font-size:1rem;
  font-weight: bold;
  text-transform: uppercase;
  text-shadow: 0 0 0.5em var(--button-main);
  background-color: var(--button-second-color);
  border: 0.25em solid var(--button-main);
  border-radius: 1em;
  box-shadow: 0 0 1em 0.25em var(--button-main),
    0 0 1em 1em var(--button-shadow);
  outline: none;
  cursor: pointer;
  transition: all 0.3s;
  margin: 2.5rem;
  
}

.button:hover {
  color: var(--button-second-color);
  background-color: var(--button-main);
  box-shadow: 0 0 1em 0.25em var(--button-main), 0 0 4em 2em var(--button-shadow), inset 0 0 0.75em 0.25em var(--button-main);
  
}
.button:active{
  box-shadow: 0 0 0.6em 0.25 var(--button-main),
    0 0 2.5em 2em var(--button-shadow), 
    inset 0 0 0.5em 0.25em var(--button-main);
}
.lister {
  min-width: 150px;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  padding: 5px;
}
.listerContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between; 
  align-items: flex-end;
  width: 75%;
  min-height: 200px;
  

}
.buttonContainer {
  min-width: 35vw;
  height:50px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  position: relative;
  top: 25px;

}
.statusText {
  font-size: 2rem;
  color: var(--button-main);
  font-weight: bold;
  text-shadow: 0 0 0.5em var(--button-shadow);
  text-transform: capitalize;
}
.title{
  font-size: 3rem;
  margin: 0;
}
.menu {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 400px;
  min-width:250;
  overflow-x: hidden;           
}
p {
  font-size: 18px;
  color: var(--button-main);
}
input {
  width: 100%;
  height: 30px;
  color: var(--button-main);
  background-color: var(--main-color);
  border-color: var(--button-main);
  font-size: 18px;
  font-weight: bold;
  text-align: center;
}
input:focus{
  border-color: var(--button-main);
  box-shadow: 0 0 1em 0.25em var(--button-main),
    0 0 1em 1em var(--button-shadow);
}
.inputContainer {
  width: 15vw;
  margin-top: 20px;
}
::-webkit-scrollbar {
  width: 10px;
  height:50px;
}
::-webkit-scrollbar-track {
  background: var(--main-color) ;
}
::-webkit-scrollbar-thumb {
  background: var(--button-main); 
}
